@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4">
    <div class="text-center">
        <img src="/Images/visitapp_logo_blue.png">
        <h1 class="display-4">Bienvenido</h1>
        <p class="text-black-50 font-weight-bold">
            <h1 class="display-4">App de Gestion de Visitas</h1>
        </p>
        <p class="text-black-50 font-weight-bold">
        </p>
    </div>
</div>